*{
  margin: 0px;
  padding: 0px;
}

#form-div{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;
}

#form{
  padding: 20px;
display: flex;
flex-direction: column;
gap: 5px;
align-items: center;
justify-content: center;
width: 150px;

}

.hide{
  display: none;
}


input{
  width: 250px;
  border-radius: 5px;
  border: 1px solid rgb(228, 33, 33);
  height: 20px;
}

button{
  padding: 5px;
  border-radius: 9px;
  border: 1px solid grey;
  background-color: rgb(109, 109, 200);
  color: black;
}

.show{
  color: rgb(243, 99, 123);
  font-size: small;
}
